.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;box-shadow:0 10px 25px rgba(0,0,0,0.5)}
.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.fancybox-opened{z-index:8030}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}
.fancybox-outer,.fancybox-inner{position:relative}
.fancybox-inner{overflow:hidden}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('img/fancybox_sprite.png')}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}
#fancybox-loading div{width:44px;height:44px;background:url('img/fancybox_loading.gif') center center no-repeat}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('img/blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}
.fancybox-prev span{left:10px;background-position:0 -36px}
.fancybox-next span{right:10px;background-position:0 -72px}
.fancybox-nav:hover span{visibility:visible}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important}
.fancybox-lock{overflow:hidden !important;width:auto}
.fancybox-lock body{overflow:hidden !important}
.fancybox-lock-test{overflow-y:hidden !important}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('img/fancybox_overlay.png')}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#fff;font-weight:bold;line-height:24px;white-space:nowrap}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,0.8)}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('img/fancybox_sprite@2x.png');background-size:44px 152px;} #fancybox-loading div{background-image:url('img/fancybox_loading@2x.gif');background-size:24px 24px;}}@charset "UTF-8";
@font-face{font-family:'fontello';src:url('fontello/fontello.eot?96045746');src:url('fontello/fontello.eot?96045746#iefix') format('embedded-opentype'),url('fontello/fontello.woff?96045746') format('woff'),url('fontello/fontello.ttf?96045746') format('truetype'),url('fontello/fontello.svg?96045746#fontello') format('svg');font-weight:normal;font-style:normal}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;}
.icon-gplus:before{content:'\2b'}
.icon-pinterest:before{content:'\31'}
.icon-spotify:before{content:'\e800'}
.icon-guest:before{content:'\3f'}
.icon-flickr:before{content:'\46'}
.icon-rss-1:before{content:'\52'}
.icon-twitter:before{content:'\54'}
.icon-youtube:before{content:'\55'}
.icon-email:before{content:'\5d'}
.icon-facebook:before{content:'\66'}
.icon-googleplay:before{content:'\68'}
.icon-tumblr:before{content:'\74'}
.icon-home:before{content:'\2302'}
.icon-menu:before{content:'\2630'}
.icon-note-beamed:before{content:'\266b'}
.icon-check:before{content:'\2713'}
.icon-cancel:before{content:'\2715'}
.icon-cancel-circled:before{content:'\2716'}
.icon-user-add:before{content:'\e700'}
.icon-comment:before{content:'\e718'}
.icon-location:before{content:'\e724'}
.icon-rss:before{content:'\e73a'}
.icon-spin3:before{content:'\e832'}
.icon-instagram-filled:before{content:'\f31f'}
.icon-picture:before{content:'🌄'}
.icon-globe:before{content:'🌎'}
.icon-video:before{content:'🎬'}
.icon-user:before{content:'👤'}
.icon-phone:before{content:'📞'}
.icon-link:before{content:'🔗'}
ol.commentlist{padding:0;max-width:617px;margin-left:90px;margin-top:0}
ol.commentlist li{list-style-type:none;margin-bottom:15px;margin-top:20px;clear:both}
#pinglist{color:#333}
#pinglist a:hover{color:#555}
.depth-1 .avatar{float:left;margin-left:-100px;position:absolute}
.depth-2 .avatar{margin-left:-120px}
.depth-3 .avatar{margin-left:-140px}
.depth-4 .avatar{margin-left:-160px}
.depth-5 .avatar{margin-left:-180px}
.children{padding-left:20px}
.comment-meta,.comment-meta a{font-size:10px;color:#999 !important}
.comment-body{border-left:1px #ccc solid;padding-left:7px}
.comment-body cite{font-style:normal}
.comment-body p{color:#333;margin-top:5px;font-size:14px}
#respond{clear:both;margin-top:45px}
.reply{margin-top:-12px}
.comment-reply-link{font-size:11px}
.comment-reply-link:hover{color:#333}
.cancel_reply{font-variant:normal;font-size:11px;font-weight:normal;color:#999}
.cancel_reply:hover{color:#333}
input[type=submit]:hover,button:hover,input[type=button]:hover{background-color:#333}
input[type=text],input[type=email],input[type=password],textarea{border-color:#ccc #ccc #ddd #ddd;border-width:1px;border-style:solid}
input[type=text]:focus,input[type=email]:focus,textarea[type=text]:focus,input[type=password]:focus{box-shadow:0 0 3px #bbb}
#commentbox .navigation{text-align:center}
#commentbox .navigation .current{color:#888}
#commentbox .navigation .page-numbers{font-size:20px;margin:0 2px}
#commentbox .navigation a.page-numbers:hover{color:#555}
body.woocommerce #container{float:left;width:66%}
ul.products li.product h3{font-family:'Lato',arial,serif;font-size:13px;text-transform:none}
div.product .product_title,#content div.product .product_title{font-size:18px}
#content div.product p.price{}
.variations .reset_variations{margin-left:8px;font-size:13px}
.summary .product_meta,.woocommerce-tabs .reviews_tab{display:none !important}
div#content{position:relative}
form.woocommerce-ordering{position:absolute;right:0;top:2px}
ul.products a.add_to_cart_button,ul.products a.button{display:none}
h1.page-title{font-size:18px}
#micro-cart{background-color:#fff;border-style:none solid solid;border-width:1px;font-size:11px;margin-top:-4px;padding:5px 10px;position:fixed;right:30px;z-index:9999;box-shadow:0 1px 4px #ddd}
.shop_table thead{font-family:'Oswald',arial,serif;font-size:13px;text-transform:uppercase}
.shop_table .checkout_table_item{background-color:#ededed}
.shop_table th,.cart_totals tr.total,.cart_totals tr.shipping{border-top:1px #ddd solid !important}
.shop_table .total,.cart_totals tr.total{background-color:#f8ffef}
input[type=submit]{-webkit-appearance:none}
ul.page-numbers li .page-numbers{background-color:#f7f6f7;border:1px solid #c7c0c7;display:inline-block;height:20px;margin-right:5px;padding:4px;text-align:center;width:20px;border-radius:2px}
ul.page-numbers li a.page-numbers:hover{background-color:#edebed}
ul.page-numbers li a.next:before{content:"Next "}
ul.page-numbers li a.prev:after{content:" Previous"}
ul.page-numbers li a.next,ul.page-numbers li a.prev{width:auto}
ul.page-numbers li{display:inline-block}
ul.page-numbers{list-style-type:none;padding:0}
.woocommerce-message{margin-bottom:22px}
.woocommerce-message a.button{float:right}
.woocommerce-result-count{float:right;margin-top:-36px}
.woocommerce-invalid input{box-shadow:0 0 3px #e36a64}
.woocommerce-validated input{box-shadow:0 0 3px #85ad74}
div.product .woocommerce_tabs,#content div.product .woocommerce_tabs{clear:both}
div.product .woocommerce_tabs ul.tabs,#content div.product .woocommerce_tabs ul.tabs{list-style:none;padding:0 0 0 1em;margin:0 0 1.618em;overflow:hidden;position:relative}
div.product .woocommerce_tabs ul.tabs li,#content div.product .woocommerce_tabs ul.tabs li{border:1px solid #dfdbdf;background:#f7f6f7;background:-webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#dfdbdf));background:-webkit-linear-gradient(#f7f6f7, #dfdbdf);background:-moz-linear-gradient(center top, #f7f6f7 0, #dfdbdf 100%);background:-moz-gradient(center top, #f7f6f7 0, #dfdbdf 100%);display:inline-block;position:relative;z-index:0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;box-shadow:0 3px 3px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.6);margin:0 -5px;padding:0 1em}
div.product .woocommerce_tabs ul.tabs li a,#content div.product .woocommerce_tabs ul.tabs li a{display:inline-block;padding:.5em 0;font-weight:bold;color:#5e5e5e;text-shadow:0 1px 0 rgba(255,255,255,0.8);text-decoration:none}
div.product .woocommerce_tabs ul.tabs li a:hover,#content div.product .woocommerce_tabs ul.tabs li a:hover{text-decoration:none;color:#777}
div.product .woocommerce_tabs ul.tabs li.active,#content div.product .woocommerce_tabs ul.tabs li.active{background:#fff;z-index:2;border-bottom-color:#fff}
div.product .woocommerce_tabs ul.tabs li.active a,#content div.product .woocommerce_tabs ul.tabs li.active a{color:inherit;text-shadow:inherit}
div.product .woocommerce_tabs ul.tabs li.active:before,#content div.product .woocommerce_tabs ul.tabs li.active:before{box-shadow:2px 2px 0 #fff}
div.product .woocommerce_tabs ul.tabs li.active:after,#content div.product .woocommerce_tabs ul.tabs li.active:after{box-shadow:-2px 2px 0 #fff}
div.product .woocommerce_tabs ul.tabs li:before,div.product .woocommerce_tabs ul.tabs li:after,#content div.product .woocommerce_tabs ul.tabs li:before,#content div.product .woocommerce_tabs ul.tabs li:after{border:1px solid #dfdbdf;position:absolute;bottom:-1px;width:5px;height:5px;content:" "}
div.product .woocommerce_tabs ul.tabs li:before,#content div.product .woocommerce_tabs ul.tabs li:before{left:-6px;-webkit-border-bottom-right-radius:4px;-mox-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-width:0 1px 1px 0;box-shadow:2px 2px 0 #dfdbdf}
div.product .woocommerce_tabs ul.tabs li:after,#content div.product .woocommerce_tabs ul.tabs li:after{right:-6px;-webkit-border-bottom-left-radius:4px;-mox-border-bottom-left-radius:4px;border-bottom-left-radius:4px;border-width:0 0 1px 1px;box-shadow:none}
div.product .woocommerce_tabs ul.tabs:before,#content div.product .woocommerce_tabs ul.tabs:before{position:absolute;content:" ";width:100%;bottom:0;left:0;border-bottom:1px solid #dfdbdf;z-index:1}
div.product .woocommerce_tabs .panel,#content div.product .woocommerce_tabs .panel{margin:0 0 2em;padding:0}
.summary .product_meta,.woocommerce_tabs .reviews_tab{display:none !important}
.clear{clear:both}
.nobr{white-space:nowrap}
.woocommerce_message,.woocommerce_error,.woocommerce_info{padding:.55em 1em .55em 3em;margin:0 0 2em;position:relative;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#f7f6f7;background:-webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#f0eef0));background:-webkit-linear-gradient(#f7f6f7, #f0eef0);background:-moz-linear-gradient(center top, #f7f6f7 0, #f0eef0 100%);background:-moz-gradient(center top, #f7f6f7 0, #f0eef0 100%);color:#5e5e5e;text-shadow:0 1px 0 #fff;list-style:none outside;width:auto}
.woocommerce_message:after,.woocommerce_error:after,.woocommerce_info:after{content:"";display:block;clear:both}
.woocommerce_message:before,.woocommerce_error:before,.woocommerce_info:before{content:"";height:16px;width:16px;display:block;position:absolute;top:.8em;left:1em;background-color:#fff;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em}
.woocommerce_message .button,.woocommerce_error .button,.woocommerce_info .button{float:right}
.woocommerce_message li,.woocommerce_error li,.woocommerce_info li{list-style:none outside}
.woocommerce_message:before{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAN0lEQVQIHXWMQQ4AMAjCxv7/ZxZIanbYPIhSUbbXo2Jqf0BsA4mjgU1ioAVpSSrDVbPzFgPt7QH7qwoJ3MDCYgAAAABJRU5ErkJggg==) center no-repeat #8fae1b}
.woocommerce_info:before{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAYAAABvsz2cAAAAG0lEQVQIHWP8DwQMQMACxIwwBliECcQDATgDAMHrBQqJ6tMZAAAAAElFTkSuQmCC) center no-repeat #18919c}
.woocommerce_error:before{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAFCAYAAABvsz2cAAAAHUlEQVQIHWP8DwQMQMAEIkAAzmABchhBIiAGWA0Ar6MFCigWCYMAAAAASUVORK5CYII=) center no-repeat #b81c23}
p.demo_store{position:fixed;top:0;left:0;right:0;margin:0;width:100%;font-size:1em;padding:.5em 0;text-align:center;background:#ad74a2;background:-webkit-gradient(linear, left top, left bottom, from(#ad74a2), to(#96588a));background:-webkit-linear-gradient(#ad74a2, #96588a);background:-moz-linear-gradient(center top, #ad74a2 0, #96588a 100%);background:-moz-gradient(center top, #ad74a2 0, #96588a 100%);border:1px solid #96588a;color:#fff;z-index:999999;box-shadow:inset 0 0 0 3px rgba(255,255,255,0.2);-webkit-box-shadow:inset 0 0 0 3px rgba(255,255,255,0.2);-moz-box-shadow:inset 0 0 0 3px rgba(255,255,255,0.2)}
small.note{display:block;color:#777;font-size:11px;line-height:21px;margin-top:10px}
.woocommerce-breadcrumb,div#breadcrumb{margin:1em 0 1em 0;padding:0;font-size:.92em;color:#777}
.woocommerce-breadcrumb:after{content:"";display:block;clear:both}
.woocommerce-breadcrumb a{color:#777}
.col2-set{width:100%}
.col2-set:after{content:"";display:block;clear:both}
.col2-set .col-1{float:left;width:48%}
.col2-set .col-2{float:right;width:48%}
div.product,#content div.product{margin-bottom:0;position:relative}
div.product .product_title,#content div.product .product_title{clear:none;margin-top:0;padding:0}
div.product span.price,div.product p.price,#content div.product span.price,#content div.product p.price{color:#000;font-size:1.2em}
div.product span.price ins,div.product p.price ins,#content div.product span.price ins,#content div.product p.price ins{background:inherit}
div.product span.price del,div.product p.price del,#content div.product span.price del,#content div.product p.price del{font-size:.67em;color:rgba(145,145,145,0.5)}
div.product p.stock,#content div.product p.stock{font-size:.92em}
div.product .stock,#content div.product .stock{color:#85ad74}
div.product .out-of-stock,#content div.product .out-of-stock{color:#f00}
div.product div.images,#content div.product div.images{float:left;width:160px;margin-bottom:2em}
div.product div.images img,#content div.product div.images img{display:block;width:100%;height:auto;box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s}
div.product div.images div.thumbnails,#content div.product div.images div.thumbnails{padding-top:1em}
div.product div.images div.thumbnails:after,#content div.product div.images div.thumbnails:after{content:"";display:block;clear:both}
div.product div.images div.thumbnails a,#content div.product div.images div.thumbnails a{float:left;width:30.75%;margin:0 3.8% 3.8% 0}
div.product div.images div.thumbnails a.last,#content div.product div.images div.thumbnails a.last{margin-right:0}
div.product div.images div.thumbnails a.first,#content div.product div.images div.thumbnails a.first{clear:both}
div.product div.summary,#content div.product div.summary{float:right;width:69%;margin-bottom:2em}
div.product div.social,#content div.product div.social{text-align:right;margin:0 0 1em}
div.product div.social span,#content div.product div.social span{margin:0 0 0 2px}
div.product div.social span span,#content div.product div.social span span{margin:0}
div.product div.social span .stButton .chicklets,#content div.product div.social span .stButton .chicklets{padding-left:16px;width:0}
div.product div.social iframe,#content div.product div.social iframe{float:left;margin-top:3px}
div.product .woocommerce-tabs,#content div.product .woocommerce-tabs{clear:both}
div.product .woocommerce-tabs ul.tabs,#content div.product .woocommerce-tabs ul.tabs{list-style:none;padding:0 0 0 1em;margin:0 0 1.618em;overflow:hidden;position:relative}
div.product .woocommerce-tabs ul.tabs li,#content div.product .woocommerce-tabs ul.tabs li{border:1px solid #dfdbdf;background:#f7f6f7;display:inline-block;position:relative;z-index:0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;box-shadow:0 3px 3px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.6);margin:0 -5px;padding:0 1em}
div.product .woocommerce-tabs ul.tabs li a,#content div.product .woocommerce-tabs ul.tabs li a{display:inline-block;padding:.5em 0;font-weight:bold;color:#5e5e5e;text-shadow:0 1px 0 rgba(255,255,255,0.8);text-decoration:none}
div.product .woocommerce-tabs ul.tabs li a:hover,#content div.product .woocommerce-tabs ul.tabs li a:hover{text-decoration:none;color:#777}
div.product .woocommerce-tabs ul.tabs li.active,#content div.product .woocommerce-tabs ul.tabs li.active{background:#fff;z-index:2;border-bottom-color:#fff}
div.product .woocommerce-tabs ul.tabs li.active a,#content div.product .woocommerce-tabs ul.tabs li.active a{color:inherit;text-shadow:inherit}
div.product .woocommerce-tabs ul.tabs li.active:before,#content div.product .woocommerce-tabs ul.tabs li.active:before{box-shadow:2px 2px 0 #fff}
div.product .woocommerce-tabs ul.tabs li.active:after,#content div.product .woocommerce-tabs ul.tabs li.active:after{box-shadow:-2px 2px 0 #fff}
div.product .woocommerce-tabs ul.tabs li:before,div.product .woocommerce-tabs ul.tabs li:after,#content div.product .woocommerce-tabs ul.tabs li:before,#content div.product .woocommerce-tabs ul.tabs li:after{border:1px solid #dfdbdf;position:absolute;bottom:-1px;width:5px;height:5px;content:" "}
div.product .woocommerce-tabs ul.tabs li:before,#content div.product .woocommerce-tabs ul.tabs li:before{left:-6px;-webkit-border-bottom-right-radius:4px;-mox-border-bottom-right-radius:4px;border-bottom-right-radius:4px;border-width:0 1px 1px 0;box-shadow:2px 2px 0 #dfdbdf}
div.product .woocommerce-tabs ul.tabs li:after,#content div.product .woocommerce-tabs ul.tabs li:after{right:-6px;-webkit-border-bottom-left-radius:4px;-mox-border-bottom-left-radius:4px;border-bottom-left-radius:4px;border-width:0 0 1px 1px;box-shadow:none}
div.product .woocommerce-tabs ul.tabs:before,#content div.product .woocommerce-tabs ul.tabs:before{position:absolute;content:" ";width:100%;bottom:0;left:0;border-bottom:1px solid #dfdbdf;z-index:1}
div.product .woocommerce-tabs .panel,#content div.product .woocommerce-tabs .panel{margin:0 0 2em;padding:0}
div.product p.cart,#content div.product p.cart{float:right}
div.product form.cart,#content div.product form.cart{margin-bottom:2em}
div.product form.cart:after,#content div.product form.cart:after{content:"";display:block;clear:both}
div.product form.cart div.quantity,#content div.product form.cart div.quantity{float:left;margin:0 4px 0 0}
div.product form.cart table,#content div.product form.cart table{border-width:0 0 1px 0}
div.product form.cart table td,#content div.product form.cart table td{padding-left:0}
div.product form.cart table div.quantity,#content div.product form.cart table div.quantity{float:none;margin:0}
div.product form.cart table small.stock,#content div.product form.cart table small.stock{display:block;float:none}
div.product form.cart .variations,#content div.product form.cart .variations{margin-bottom:1em}
div.product form.cart .variations label,#content div.product form.cart .variations label{font-weight:bold}
div.product form.cart .variations select,#content div.product form.cart .variations select{float:left}
div.product form.cart .variations td.label,#content div.product form.cart .variations td.label{padding-right:1em}
div.product form.cart .variations td,#content div.product form.cart .variations td{vertical-align:top}
div.product form.cart .button,#content div.product form.cart .button{vertical-align:middle;float:left}
div.product form.cart .group_table td.label,#content div.product form.cart .group_table td.label{padding-right:1em;padding-left:1em}
div.product form.cart .group_table td,#content div.product form.cart .group_table td{vertical-align:top}
span.onsale{min-height:32px;min-width:32px;padding:4px;font-size:12px;font-weight:bold;position:absolute;text-align:center;line-height:32px;top:6px;left:6px;margin:0;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#a1c094;background:-webkit-gradient(linear, left top, left bottom, from(#a1c094), to(#85ad74));background:-webkit-linear-gradient(#a1c094, #85ad74);background:-moz-linear-gradient(center top, #a1c094 0, #85ad74 100%);background:-moz-gradient(center top, #a1c094 0, #85ad74 100%);text-shadow:0 -1px 0 #85ad74;color:#fff;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2)}
.products ul,ul.products{margin:0 0 14px;padding:0;list-style:none outside;clear:both}
.products ul:after,ul.products:after{content:"";display:block;clear:both}
.products ul li,ul.products li{list-style:none outside}
.related:after,.upsells.products:after{content:"";display:block;clear:both}
.related ul.products,.related ul,.upsells.products ul.products,.upsells.products ul{float:none}
.related ul.products li.product,.related ul li.product,.upsells.products ul.products li.product,.upsells.products ul li.product{width:80px}
.related ul.products li.product img,.related ul li.product img,.upsells.products ul.products li.product img,.upsells.products ul li.product img{width:100%;height:auto}
ul.products li.product{float:left;margin:0 18px 18px 0;padding:0;position:relative;width:144px;margin-left:0}
ul.products li.product .onsale{top:0;right:0;left:auto;margin:-6px -6px 0 0}
ul.products li.product h3{margin:0}
ul.products li.product a{text-decoration:none}
ul.products li.product a img{width:100%;height:auto;display:block;margin:0 0 8px;-webkit-transition:all ease-in-out .2s;-moz-transition:all ease-in-out .2s;-o-transition:all ease-in-out .2s;transition:all ease-in-out .2s}
ul.products li.product a:hover img{box-shadow:0 1px 3px 0 rgba(0,0,0,0.4);-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.4);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.4)}
ul.products li.product strong{display:block}
ul.products li.product .price{color:#000;display:block;font-weight:normal;margin-bottom:.5em}
ul.products li.product .price del{font-size:.67em;color:rgba(145,145,145,0.5);margin:-2px 0 0 0}
ul.products li.product .price ins{background:none}
ul.products li.product .price .from{font-size:.67em;margin:-2px 0 0 0;text-transform:uppercase;color:rgba(145,145,145,0.5)}
ul.products li.first{clear:both}
ul.products li.last{margin-right:0}
.woocommerce-ordering{margin-bottom:2em}
a.button,button.button,input.button,#respond input#submit,#content input.button,input[type=submit]{font-size:100%;margin:0;line-height:1em;cursor:pointer;position:relative;font-family:inherit;overflow:visible;padding:6px 10px;text-decoration:none;font-weight:bold;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;left:auto;text-shadow:0 1px 0 #fff;color:#5e5e5e;text-shadow:0 1px 0 rgba(255,255,255,0.8);border:1px solid #c7c0c7;background:#f7f6f7;}
a.button.loading,button.button.loading,input.button.loading,#respond input#submit.loading,#content input.button.loading{color:#777;border:1px solid #f7f6f7}
a.button.loading:before,button.button.loading:before,input.button.loading:before,#respond input#submit.loading:before,#content input.button.loading:before{content:"";position:absolute;top:0;right:0;left:0;bottom:0;background:url(img/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65)}
a.button.added:before,button.button.added:before,input.button.added:before,#respond input#submit.added:before,#content input.button.added:before{content:"";position:absolute;height:16px;width:16px;top:.35em;right:-26px;text-indent:0;background:url(img/success.png) no-repeat}
a.button:hover,button.button:hover,input.button:hover,#respond input#submit:hover,#content input.button:hover,input[type=submit]{background:#edebed;text-decoration:none}
a.button:active,button.button:active,input.button:active,#respond input#submit:active,#content input.button:active{top:1px}
a.button.alt,button.button.alt,input.button.alt,#respond input#submit.alt,#content input.button.alt{background:#333;border-color:#333;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.6)}
a.button.alt:hover,button.button.alt:hover,input.button.alt:hover,#respond input#submit.alt:hover,#content input.button.alt:hover{background:#666;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.6)}
.cart .button,.cart input.button{float:none}
.quantity,#content .quantity{width:60px;position:relative;margin:0 auto;overflow:hidden;zoom:1}
.quantity input.qty,#content .quantity input.qty{width:40px;height:28px;float:left;padding:0;text-align:center;border:1px solid #c7c0c7;border-right:0;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-topright:0;-moz-border-radius-bottomright:0;border-top-right-radius:0;border-bottom-right-radius:0;box-shadow:inset 0 0 2px 0 #f7f6f7;-webkit-box-shadow:inset 0 0 2px 0 #f7f6f7;-moz-box-shadow:inset 0 0 2px 0 #f7f6f7;font-weight:bold;-webkit-border-top-left-radius:2px;-webkit-border-bottom-left-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-bottomleft:2px;border-top-left-radius:2px;border-bottom-left-radius:2px}
.quantity .plus,.quantity .minus,#content .quantity .plus,#content .quantity .minus{display:block;padding:0;margin:0;position:absolute;text-align:center;vertical-align:text-top;width:20px;height:15px;overflow:visible;text-decoration:none;font-weight:bold;cursor:pointer;line-height:13px;font-size:12px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#5e5e5e;text-shadow:0 1px 0 rgba(255,255,255,0.8);border:1px solid #c7c0c7;background:#f7f6f7;background:-webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#dfdbdf));background:-webkit-linear-gradient(#f7f6f7, #dfdbdf);background:-moz-linear-gradient(center top, #f7f6f7 0, #dfdbdf 100%);background:-moz-gradient(center top, #f7f6f7 0, #dfdbdf 100%);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.075),inset 0 1px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.075),inset 0 1px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.075),inset 0 1px 0 rgba(255,255,255,0.3),0 1px 2px rgba(0,0,0,0.1)}
.quantity .plus:hover,.quantity .minus:hover,#content .quantity .plus:hover,#content .quantity .minus:hover{background:#f7f6f7;background:-webkit-gradient(linear, left top, left bottom, from(#f7f6f7), to(#d3ced3));background:-webkit-linear-gradient(#f7f6f7, #d3ced3);background:-moz-linear-gradient(center top, #f7f6f7 0, #d3ced3 100%);background:-moz-gradient(center top, #f7f6f7 0, #d3ced3 100%)}
.quantity .plus,#content .quantity .plus{top:0;right:0;border-bottom:0;-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;border-bottom-left-radius:0;border-bottom-right-radius:0}
.quantity .minus,#content .quantity .minus{bottom:0;right:0;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;border-top-left-radius:0;border-top-right-radius:0}
#reviews h2 small{float:right;color:#777;font-size:15px;line-height:21px;margin:10px 0 0 0}
#reviews h2 small a{text-decoration:none;color:#777}
#reviews h3{margin:0}
#reviews #respond{margin:0;border:0;padding:0}
#reviews #comment{height:75px}
#reviews #comments .add_review:after{content:"";display:block;clear:both}
#reviews #comments h2{clear:none}
#reviews #comments ol.commentlist{margin:0;width:100%;background:none}
#reviews #comments ol.commentlist:after{content:"";display:block;clear:both}
#reviews #comments ol.commentlist li{padding:0;margin:0 0 20px;border:0;position:relative;background:0;border:0}
#reviews #comments ol.commentlist li .meta{color:#777;font-size:.75em}
#reviews #comments ol.commentlist li img{float:left;position:absolute;top:0;left:0;padding:3px;width:32px;height:auto;background:#f7f6f7;border:1px solid #f0eef0;margin:0;line-height:1}
#reviews #comments ol.commentlist li .comment-text{margin:0 0 0 50px;border:1px solid #f0eef0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:1em 1em 0}
#reviews #comments ol.commentlist li .comment-text p{margin:0 0 1em}
#reviews #comments ol.commentlist li .comment-text p.meta{font-size:.83em}
#reviews #comments .commentlist>li:before{content:""}
.star-rating{float:right;width:80px;height:16px;background:url(img/star.png) repeat-x left 0}
.star-rating span{background:url(img/star.png) repeat-x left -32px;height:0;padding-top:16px;overflow:hidden;float:left}
.hreview-aggregate .star-rating{margin:10px 0 0 0}
#review_form #respond{position:static;margin:0;width:auto;padding:0 0 0;background:transparent none;border:0}
#review_form #respond:after{content:"";display:block;clear:both}
#review_form #respond p{margin:0 0 10px}
#review_form #respond .form-submit input{left:auto}
#review_form #respond textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%}
p.stars:after{content:"";display:block;clear:both}
p.stars span{width:80px;height:16px;position:relative;float:left;background:url(img/star.png) repeat-x left 0}
p.stars span a{float:left;position:absolute;left:0;top:0;width:16px;height:0;padding-top:16px;overflow:hidden}
p.stars span a:hover,p.stars span a:focus{background:url(img/star.png) repeat-x left -16px}
p.stars span a.active{background:url(img/star.png) repeat-x left -32px}
p.stars span a.star-1{width:16px;z-index:10}
p.stars span a.star-2{width:32px;z-index:9}
p.stars span a.star-3{width:48px;z-index:8}
p.stars span a.star-4{width:64px;z-index:7}
p.stars span a.star-5{width:80px;z-index:6}
table.shop_attributes{border:0;border-top:1px dotted rgba(0,0,0,0.1);margin-bottom:1.618em;width:100%}
table.shop_attributes th{width:150px;font-weight:bold;padding:8px;border-top:0;border-bottom:1px dotted rgba(0,0,0,0.1);margin:0;line-height:1.5em}
table.shop_attributes td{font-style:italic;padding:0;border-top:0;border-bottom:1px dotted rgba(0,0,0,0.1);margin:0;line-height:1.5em}
table.shop_attributes td p{margin:0;padding:8px 0}
table.shop_attributes .alt td,table.shop_attributes .alt th{background:rgba(0,0,0,0.025)}
table.shop_table{border:1px solid rgba(0,0,0,0.1);margin:0 -1px 24px 0;text-align:left;width:100%;border-collapse:separate;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
table.shop_table th{font-weight:bold;line-height:18px;padding:9px 12px}
table.shop_table td{border-top:1px solid rgba(0,0,0,0.1);padding:6px 12px;vertical-align:middle}
table.shop_table tfoot td{font-weight:bold}
table.my_account_orders{font-size:.85em}
table.my_account_orders th,table.my_account_orders td{padding:4px 8px;vertical-align:top}
table.my_account_orders .button{white-space:nowrap}
td.product-name dl.variation{margin:.25em 0 .5em;font-size:.8751em}
td.product-name dl.variation dt{font-weight:bold;float:left;clear:left;margin:0 .25em 0 0;padding:0}
td.product-name dl.variation dd{margin:0 0 .25em 0}
td.product-name p.backorder_notification{font-size:.83em}
td.product-quantity{min-width:80px}
table.cart .product-thumbnail,#content table.cart .product-thumbnail{min-width:32px}
table.cart img,#content table.cart img{width:32px;height:auto}
table.cart th,table.cart td,#content table.cart th,#content table.cart td{vertical-align:middle}
table.cart a.remove,#content table.cart a.remove{display:block;height:16px;width:16px;text-indent:-9999px;background:url(img/remove.png) #dfdbdf}
table.cart a.remove:hover,#content table.cart a.remove:hover{background-color:#f00}
table.cart td.actions,#content table.cart td.actions{text-align:right}
table.cart td.actions .coupon,#content table.cart td.actions .coupon{float:left}
table.cart td.actions .coupon label,#content table.cart td.actions .coupon label{display:none}
table.cart td.actions .coupon .input-text,#content table.cart td.actions .coupon .input-text{width:80px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);-webkit-box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 4px 0 rgba(0,0,0,0.1);border:1px solid #dfdbdf;padding:6px 6px 5px;margin:0 4px 0 0;outline:0;line-height:1em}
table.cart td.actions .button.alt,#content table.cart td.actions .button.alt{float:right;margin-left:.25em}
table.cart input,#content table.cart input{margin:0;vertical-align:middle;line-height:1em}
ul.cart_list,ul.product_list_widget{list-style:none outside;padding:0;margin:0}
ul.cart_list li,ul.product_list_widget li{padding:4px 0;margin:0;list-style:none}
ul.cart_list li:after,ul.product_list_widget li:after{content:"";display:block;clear:both}
ul.cart_list li a,ul.product_list_widget li a{display:block}
ul.cart_list li img,ul.product_list_widget li img{float:right;margin-left:4px;width:32px;height:auto;box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3)}
ul.cart_list li dl,ul.product_list_widget li dl{margin:0;font-size:.8751em;color:#777}
ul.cart_list li dl dt,ul.product_list_widget li dl dt{float:left;clear:left;margin-right:.25em}
ul.cart_list li dl dd,ul.product_list_widget li dl dd{margin-bottom:.5em;margin-left:0}
ul.cart_list li .star-rating,ul.product_list_widget li .star-rating{float:none}
.widget_shopping_cart .total{border-top:3px double #f7f6f7;padding:4px 0 0}
.widget_shopping_cart .total strong{min-width:40px;display:inline-block}
.widget_shopping_cart .buttons:after{content:"";display:block;clear:both}
.cart-collaterals{width:100%}
.cart-collaterals:after{content:"";display:block;clear:both}
.cart-collaterals .related{width:30.75%;float:left}
.cart-collaterals .cross-sells{width:48%;float:left}
.cart-collaterals .cross-sells ul.products{float:none}
.cart-collaterals .cross-sells ul.products li{width:80px}
.cart-collaterals .shipping_calculator{width:48%;float:left}
.cart-collaterals .shipping_calculator:after{content:"";display:block;clear:both}
.cart-collaterals .shipping_calculator .button{width:100%;float:none;display:block}
.cart-collaterals .shipping_calculator .col2-set .col-1,.cart-collaterals .shipping_calculator .col2-set .col-2{width:47%}
.cart-collaterals .cart_totals{float:right;width:48%;text-align:right}
.cart-collaterals .shipping_calculator .shipping-calculator-button{text-decoration:none}
.cart-collaterals .cart_totals p{margin:0}
.cart-collaterals .cart_totals p small{color:#777;font-size:.83em}
.cart-collaterals .cart_totals table{border-collapse:separate;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0 0 6px;padding:0}
.cart-collaterals .cart_totals table tr:first-child th,.cart-collaterals .cart_totals table tr:first-child td{border-top:0}
.cart-collaterals .cart_totals table td,.cart-collaterals .cart_totals table th{padding:6px 3px}
.cart-collaterals .cart_totals table small{display:block;color:#777}
.cart-collaterals .cart_totals table select{width:100%}
.cart-collaterals .cart_totals .discount td{color:#85ad74}
.cart-collaterals .cart_totals tr td,.cart-collaterals .cart_totals tr th{padding:6px 6px}
.cart-collaterals .cart_totals a.button.alt{width:193px;display:block;font-size:.92em}
.checkout .create-account p:first-child{font-size:13px}
#customer_details input,#page_content input[type=text],#page_content input[type=password],#page_content input[type=email]{height:27px}
form .form-row{padding:3px;margin:0 0 6px}
form .form-row:after{content:"";display:block;clear:both}
form .form-row label{display:block;font-size:13px}
form .form-row label.hidden{visibility:hidden}
form .form-row select{width:100%;cursor:pointer;margin:0}
form .form-row .required{color:#f00;font-weight:bold;border:0}
form .form-row .input-checkbox{display:inline;margin:-2px 8px 0 0;text-align:center;vertical-align:middle}
form .form-row label.checkbox{display:inline}
form .form-row input.input-text,form .form-row textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0;outline:0;line-height:1em}
form .form-row textarea{height:3.5em;line-height:1.5em;display:block;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
form .form-row-first,form .form-row-last{float:left;width:47%;overflow:visible}
form .form-row-last{float:right}
form.login,form.checkout_coupon,form.register{border:1px solid #dfdbdf;padding:20px;margin:2em 0 2em 0;text-align:left;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
ul#shipping_method{list-style:none outside;margin:0;padding:0}
ul#shipping_method li{margin:0;padding:.25em 0 .25em 22px;text-indent:-22px;list-style:none outside}
ul#shipping_method .amount{font-weight:bold}
.checkout .col-2 h3{float:left}
.checkout .col-2 .notes{clear:left}
.checkout .col-2 .form-row-first{clear:left}
.checkout div.shipping-address{padding:0;clear:left;width:100%}
.checkout #shiptobilling{float:right;line-height:1.62em;margin:14px 0;padding:0}
.checkout #shiptobilling label{font-size:.6875em}
#payment{background:#f7f6f7;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#payment ul.payment_methods{text-align:left;padding:1em;border-bottom:1px solid #dfdbdf;margin:0;list-style:none outside}
#payment ul.payment_methods:after{content:"";display:block;clear:both}
#payment ul.payment_methods li{line-height:2em;text-align:left;margin:0;font-weight:normal}
#payment ul.payment_methods li input{margin:0 1em 0 0}
#payment ul.payment_methods li img{vertical-align:middle;margin:-2px 0 0 .5em;position:relative}
#payment div.form-row{padding:1em;border-top:1px solid #fff}
#payment #place_order{float:right;margin:0}
#payment .terms{padding:0 1em 0;text-align:right}
#payment div.payment_box{position:relative;width:96%;padding:1em 2%;margin:1em 0 1em 0;font-size:.92em;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;line-height:1.5em;background:#ebe9eb;background:-webkit-gradient(linear, left top, left bottom, from(#ebe9eb), to(#dfdbdf));background:-webkit-linear-gradient(#ebe9eb, #dfdbdf);background:-moz-linear-gradient(center top, #ebe9eb 0, #dfdbdf 100%);background:-moz-gradient(center top, #ebe9eb 0, #dfdbdf 100%);box-shadow:0 1px 2px 0 rgba(0,0,0,0.25);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.25);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.25);color:#5e5e5e;text-shadow:0 1px 0 rgba(255,255,255,0.8)}
#payment div.payment_box p:last-child{margin-bottom:0}
#payment div.payment_box #cc-expire-month,#payment div.payment_box #cc-expire-year{width:48%;float:left}
#payment div.payment_box #cc-expire-year{float:right}
#payment div.payment_box span.help{font-size:11px;color:#777;line-height:13px;font-weight:normal}
#payment div.payment_box .form-row{margin:0 0 1em}
#payment div.payment_box .form-row select{width:48%;float:left;margin-right:3.8%}
#payment div.payment_box .form-row select:nth-child(3n){margin-right:0}
#payment div.payment_box:after{content:"";display:block;border:8px solid #ebe9eb;border-right-color:transparent;border-left-color:transparent;border-top-color:transparent;position:absolute;top:-3px;left:0;margin:-1em 0 0 2em}
.order_details{margin:0 0 1.5em;list-style:none}
.order_details:after{content:"";display:block;clear:both}
.order_details li{float:left;margin-right:2em;text-transform:uppercase;font-size:.715em;line-height:1em;border-right:1px dashed #dfdbdf;padding-right:2em}
.order_details li strong{display:block;font-size:1.4em;text-transform:none;line-height:1.5em}
.order_details li.method{border:none}
.addresses .title:after{content:"";display:block;clear:both}
.addresses .title h3{display:inline-block}
.addresses .title .edit{font-size:13px}
ol.commentlist.notes li.note p.meta{font-weight:bold;margin-bottom:0}
ol.commentlist.notes li.note .description p:last-child{margin-bottom:0}
ul.digital-downloads{margin-left:0;padding-left:0}
ul.digital-downloads li{list-style:none;margin-left:0;padding-left:1.5em;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat}
ul.digital-downloads li .count{float:right}
.widget_layered_nav ul{margin:0;padding:0;border:0;list-style:none outside}
.widget_layered_nav ul li{padding:0 0 1px;list-style:none}
.widget_layered_nav ul li:after{content:"";display:block;clear:both}
.widget_layered_nav ul li a,.widget_layered_nav ul li span{padding:1px 0;float:left}
.widget_layered_nav ul li.chosen a{padding:0 6px 0 18px;border:1px solid #ad74a2;background:#ad74a2 url(img/cross_white.png) no-repeat 6px center;box-shadow:inset 0 1px 1px rgba(255,255,255,0.5) #888;-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.5) #888;-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.5) #888;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.widget_layered_nav ul small.count{float:right;margin-left:6px;font-size:1em;padding:1px 0;color:#777}
.widget_price_filter .price_slider{margin-bottom:1em}
.widget_price_filter .price_slider_amount{text-align:right;line-height:2.4em;font-size:.8751em}
.widget_price_filter .price_slider_amount .button{font-size:1.15em}
.widget_price_filter .price_slider_amount .button{float:left}
.widget_price_filter .ui-slider{position:relative;text-align:left}
.widget_price_filter .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:.9em;height:.9em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;border:1px solid #150d14;cursor:pointer;background:#ad74a2;background:-webkit-gradient(linear, left top, left bottom, from(#ad74a2), to(#96588a));background:-webkit-linear-gradient(#ad74a2, #96588a);background:-moz-linear-gradient(center top, #ad74a2 0, #96588a 100%);background:-moz-gradient(center top, #ad74a2 0, #96588a 100%);outline:none;top:-0.3em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.65);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.65);box-shadow:0 1px 2px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.65)}
.widget_price_filter .ui-slider .ui-slider-handle:last-child{margin-left:-1em}
.widget_price_filter .ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background:#ad74a2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.5);-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em}
.widget_price_filter .price_slider_wrapper .ui-widget-content{-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background:#1e1e1e;background:-webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#6a6a6a));background:-webkit-linear-gradient(#1e1e1e, #6a6a6a);background:-moz-linear-gradient(center top, #1e1e1e 0, #6a6a6a 100%);background:-moz-gradient(center top, #1e1e1e 0, #6a6a6a 100%)}
.widget_price_filter .ui-slider-horizontal{height:.5em}
.widget_price_filter .ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min{left:-1px}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max{right:-1px}
@media only screen and (max-width:640px){div.product div.summary,#content div.product div.summary{float:none;width:100%;clear:both}}#home-buttons{position:relative;height:725px}
#home-buttons p{font-family:"Oswald",arial,serif;color:#fff;font-size:36px;text-transform:uppercase;line-height:41px;margin:0;position:absolute;text-align:center;top:40%;width:100%;z-index:99;background-color:rgba(0,0,0,0.5);padding:7px 0;overflow:hidden;opacity:0;-moz-transition:opacity .7s ease 0;-webkit-transition:opacity .7s ease 0;transition:opacity .7s ease 0}
#home-buttons a:hover>p{-moz-transition:opacity .7s ease 0;-webkit-transition:opacity .7s ease 0;transition:opacity .7s ease 0;opacity:1}
#his3container p{top:34%}
.home_thumb_caption{display:block;font-size:13px;line-height:19px;width:100%}
#home-buttons img{position:absolute;z-index:1}
.top_homelink{position:absolute;height:308px;width:308px;margin-bottom:0;top:0}
#homelink2{left:326px}
#homelink3{left:652px}
.middlerowimages{position:absolute;top:326px;width:471px;height:210px}
#middlerowimage2{left:489px}
.simply-scroll,.simply-scroll .simply-scroll-clip{height:153px;width:960px;padding:0}
#his3container{position:absolute;width:960px;height:153px;top:553px}
.simply-scroll-container{position:relative}
.simply-scroll-clip{position:relative;overflow:hidden}
.simply-scroll-list{overflow:hidden;margin:0;padding:0;list-style:none}
.simply-scroll-list li{padding:0;margin:0;list-style:none}
.simply-scroll-list li img{border:none;display:block}
.simply-scroll{width:960px;height:153px}
.simply-scroll .simply-scroll-clip{width:960px;height:153px}
.simply-scroll .simply-scroll-list li{float:left;width:960px;height:153px}
body{font-family:'Lato',arial,serif;padding:0;margin:0;background-color:#f7f5f5}
header,nav,section,article,aside,footer,hgroup{display:block}
h1,h2,h3,h4{font-family:'Oswald',arial,serif;font-weight:normal;text-transform:uppercase}
h2,h1.postheader{font-size:18px}
h3{font-size:16px}
h4{font-size:14px}
a{text-decoration:none}
blockquote{font-style:italic;color:#999}
blockquote p:first-child:first-letter{font-size:50px;font-family:"Monotype Corsiva","Apple Chancery",fantasy;float:left;margin:.1em .15em 0 0}
blockquote cite{font-weight:bold}
hr{background-color:#ccc;border:0 none;height:2px}
.clear{clear:both}
.alignleft{float:left}
.alignright{float:right}
.aligncenter{margin-left:auto;margin-right:auto;display:block}
img.alignright{margin-left:17px}
img.alignleft{margin-right:17px}
a img{border-style:none}
textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Lato',arial,serif;padding:6px;width:98%;height:170px}
input{max-width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#wrapper{width:960px;margin-left:auto;margin-right:auto;background-color:#fff;padding:0 20px 10px 20px}
#wrapper a{color:#2c4270}
#wrapper a:hover{color:#333}
#page_content{float:left;width:630px;overflow:hidden}
.full-width{width:100% !important}
.full-width img{max-width:960px}
#sidebar{float:right;width:300px;overflow:hidden}
#header{padding:4px 0 0 0;text-align:center;position:relative}
#header h1 a{letter-spacing:-0.02em;text-decoration:none;color:#000;font-size:38px}
#header h2{font-weight:normal;font-size:16px;font-style:italic;color:#ccc;margin-top:5px;margin-bottom:25px}
#header .searchform{float:right;position:absolute;right:0}
.searchform .s{width:130px;font-size:12px;font-family:'Lato',arial,sans-serif;font-style:italic;color:#999;padding-left:4px;padding-right:19px;margin-top:5px;background:url("img/mglass.png") no-repeat scroll right center #fff}
.searchform .searchsubmit{display:none}
#header .menu{font-family:'Oswald',arial,serif;text-transform:uppercase}
#header .menu,#header .menu ul{padding:0;height:34px}
#header .menu li{list-style-type:none;margin:-3px 0 0 0;height:34px;display:inline-block;*display:inline;zoom:1}
#header .menu li a{text-decoration:none;color:#666;display:block;padding:8px 0 8px 0;transition:color .5s;-moz-transition:color .5s;-webkit-transition:color .5s}
#header .menu li a:hover{color:#000;transition:color .5s;-moz-transition:color .5s;-webkit-transition:color .5s}
.sub-menu .current_page_item{border-style:none !important}
#header .menu li ul li{width:100%;text-align:left;margin:-3px 7px}
#header .menu li ul{position:absolute;left:-999em;margin-top:-7px;width:150px;height:auto !important;background-color:#fff;border:1px #ddd solid;z-index:101;opacity:0}
#header .menu li ul li ul{margin-left:143px;margin-top:-39px}
#header .menu li:hover>ul{left:auto;opacity:1;transition:opacity .5s;-webkit-transition:opacity .5s;-moz-transition:opacity .5s}
#stickyMenu{z-index:999;background-color:#fff;display:block;width:960px;border-bottom:8px solid #333;transition:all .5s ease 0}
.stuckMenu{position:fixed;top:0;box-shadow:0 5px 5px -5px #444}
#stickyAlias{display:none;height:42px}
ul#menu-header-menu{margin:0;width:960px;text-align:justify;-ms-text-justify:distribute-all-lines;text-justify:distribute}
#menu-header-menu:after{content:'';width:100%;display:inline-block;font-size:0;line-height:0}
#content p{line-height:20px}
#content .entry p{text-align:justify}
#page_content img{height:auto;margin-bottom:10px}
#page_content table{border-collapse:collapse;width:100%;border:1px solid #ddd;text-align:left}
#page_content table tr{border:0;margin:0;padding:0}
#page_content table th{line-height:32px;padding:4px;font-weight:normal}
#page_content table td{border-top:1px #ddd solid;padding:4px}
.post{padding:8px 0 8px 0;border-bottom:1px #ccc solid}
.post:last-child{border-bottom-style:none !important}
.postheader,.postheader a{text-decoration:none;min-height:20px}
.postheader{max-width:75%;float:left}
.dater{float:right;color:#aaa;font-size:14px;margin-top:15px}
.dater .comments{display:inline-block;height:27px;margin-left:9px;padding-top:4px;width:21px;text-align:center;background:transparent url('img/speech.png') no-repeat scroll center center}
.entry{clear:both}
.entry p,.entry ol,.entry ul{color:#111}
.entry a{text-decoration:underline}
.minis a{text-decoration:none !important}
.entry a:hover{color:#555;text-decoration:none}
#sidebar ul{padding:0}
#sidebar ul li{list-style-type:none}
#sidebar a:hover,.post a:hover,#footer a:hover,.page a:hover{color:#444}
#sidebar .widget li{border-top:1px #eee solid;padding:4px 0 4px 0;line-height:13px;font-size:13px}
.widget li a:hover{margin-left:1px}
#sidebar .widget li:first-child{border-top-style:none}
#sidebar .widget li ul li:first-child{border-top-style:solid !important}
.widgettitle{font-size:16px;text-transform:uppercase;border-bottom:1px #ccc solid;padding-bottom:5px}
.widget_nav_menu .sub-menu,.widget_pages .children{margin-left:12px}
#wp-calendar{width:100%}
#wp-calendar td{color:#888}
#wp-calendar caption{font-style:italic}
span.spotify-meta a{display:inline-block;color:#116d0a !important;padding-left:24px;background:transparent url('img/spotify-mini.png') left center no-repeat}
.postmetadata{color:#aaa;font-size:12px;clear:both}
.postmetadata .post_author a{text-transform:capitalize}
#footer{clear:both;border-top:3px #333 solid;color:#444;overflow:hidden}
#permfooter{font-size:11px;margin:30px 0;padding-top:10px}
.pnavigation p a,#commentbox .navigation .prev,#commentbox .navigation .next,.page-link,.more-link,.woocommerce .navigation a{font-size:21px}
.pnavigation p a:hover,#commentbox .navigation .prev:hover,#commentbox .navigation .next:hover,.woocommerce .navigation a:hover{color:#555}
.nav_arrow{font-style:normal;color:#333;font-size:34px}
.woocommerce .navigation{margin-top:-40px}
.woocommerce .navigation .nav-next,.woocommerce .navigation .nav-previous{width:45%;padding-bottom:20px}
.woocommerce .navigation .nav-next{float:right;text-align:right}
.woocommerce .navigation .nav-previous{float:left}
.wp-caption{padding:8px;text-align:center}
.wp-caption-text,.gallery-caption{font-size:14px;font-style:italic;margin-top:1px}
#author-description{margin-top:15px;padding:15px;border:1px #ddd solid}
#author-description p{color:#333}
#author-description h2:first-child{margin-top:0}
#author-description .avatar{float:right}
.wpcf7 textarea{width:60%}
.socmed a [class^="icon-"]{color:#000;-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-ms-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease}
a .icon-facebook:hover{color:#3b5998}
a .icon-twitter:hover{color:#00aced}
a .icon-tumblr:hover{color:#32506d}
a .icon-youtube:hover{color:#b00}
a .icon-spotify:hover{color:#7ab800}
a .icon-pinterest:hover{color:#cb2027}
footer #social_buttons{float:left}
.socmed{position:absolute;left:0;top:10px}
.social_buttons{text-align:right}
.twitter-share-button{vertical-align:top}
.subscribe-widget p{line-height:28px !important;height:28px;background:transparent url('img/feed-icon-28x28.png') no-repeat scroll left center;padding-left:32px;font-size:17px}
.fb_iframe_widget{vertical-align:top;margin-right:30px}
#bottom-menu{font-size:12px;min-height:60px}
#bottom-menu ul{list-style-type:none;text-align:left;padding:0}
#bottom-menu ul li{display:inline-block;padding-left:0;padding-right:15px}
.widget_twitter .timesince{font-size:75%;display:block;margin-top:5px}
.wpsc_loading_animation .loadingimage{margin-bottom:0 !important}
#register_link a{float:right;background-color:#555;color:#fff;padding:4px;font-size:12px;margin-top:2px;display:none}
#register_link a:hover{color:#fff;background-color:#333}
.jetpack_subscription_widget form p:last-child input[type=submit]{padding:0 5px;background-color:#f7f6f7;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}
.jetpack_subscription_widget form p:last-child input[type=submit]:hover{background-color:#edebed}
#sidebar .jetpack_subscription_widget{font-size:13px}
#sidebar .jetpack_subscription_widget p{line-height:13px}
#sidebar .jetpack_subscription_widget form p:nth-last-child(2){font-size:15px;vertical-align:top;margin:0;width:208px;display:inline-block}
#sidebar .jetpack_subscription_widget form p:nth-last-child(2) input{padding:0 2px;height:24px}
#sidebar .jetpack_subscription_widget form p:last-child{display:inline-block;margin:0}
#sidebar .jetpack_subscription_widget form p:last-child input[type=submit]{height:28px;margin-top:0;font-size:13px}
footer#footer .widget{text-align:center;margin-top:10px}
.footer-widget{float:left;overflow:hidden;font-size:12px;width:31.5%;margin-top:15px;border-width:1px;border-color:#ccc}
.footer-widget .widgettitle{display:none}
.footer-widget ul{padding:0}
.footer-widget ul li{list-style-type:none}
#footer-left,#footer-center{margin-right:20px}
#footer-center{border-style:none solid none solid}
.footer-widget .jetpack_subscription_widget form p:nth-last-child(2){font-size:15px;vertical-align:top;margin:0;width:200px;display:inline-block}
.footer-widget .jetpack_subscription_widget form p:nth-last-child(2) input{padding:0 2px;height:18px}
.footer-widget .jetpack_subscription_widget form p:last-child{display:inline-block;margin:0}
.footer-widget .jetpack_subscription_widget form p:last-child input[type=submit]{height:22px;margin-top:0;font-size:10px}
.footer-widget .jetpack_subscription_widget .success{position:absolute;width:300px;background-color:#fff}
.footer-widget .jetpack_subscription_widget p{text-align:center !important}
.whowears-column{width:320px;float:left;margin-top:10px}
#column-1{text-align:left}
#column-2{text-align:center}
#column-3{text-align:right}
.whowears-title{color:#fff;float:left;font-family:'Oswald',arial,serif;left:15px;margin-bottom:-40px;margin-top:-40px;position:relative;text-shadow:0 0 1px #000;top:45px;width:290px}
.whowears-column img{position:relative}
.image-grid{text-align:justify}
.image-grid:after{content:"";display:inline-block;width:100%}
.image-grid .sub-image{display:inline-block}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
.full-width-image{width:100%;height:auto;clear:both}
#drop-nav{display:none}
@media only screen and (max-width:640px){#drop-nav{width:100%;display:block;margin-bottom:25px} #stickyMenu{display:none} div{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box} #wrapper,#stickyMenu,ul#menu-header-menu,.scopy,#page_content,#sidebar{width:100% !important} #page_content{float:none} body.woocommerce #container{float:none !important;width:100% !important} .col2-set .col-1,.col2-set .col-2{width:100%;float:none} .checkout .col-2>div{clear:both} ul.products li.product{width:43% !important;margin:0 9px 18px 9px} ul.products li.last{margin-right:9px} #page_content .entry>img,#page_content .entry>a>img,#page_content .entry>p>a>img{width:100%;height:auto !important} #sidebar{float:none;width:100%} #home_link img{width:78%;height:auto;margin-top:32px} #header{background-image:none} #header .searchform .s{width:37px;-webkit-transition:width .25s ease;-moz-transition:width .25s ease;-ms-transition:width .25s ease;-o-transition:width .25s ease;transition:width .25s ease}#header .searchform .s:focus{width:130px} .button{margin-bottom:5px !important} #home-buttons{display:none} #socmed1{top:9px;left:0;text-align:left} .footer-widget{width:100%;margin-right:0;border-style:none none solid none !important;padding-bottom:10px} body.woocommerce #container{width:100%} .woocommerce-result-count{width:100%;clear:both;margin:0 0 20px} form.woocommerce-ordering{top:30px} ul.page-numbers li .page-numbers{font-size:80%;height:17px;margin-right:4px;padding:2px;text-align:center;width:17px} .woocommerce table.cart{font-size:80%} .woocommerce .cart_totals,.woocommerce .shipping_calculator{float:none;width:100%}.woocommerce .cart_totals h2,.woocommerce .shipping_calculator h2{text-align:left} .image-grid .sub-image,.image-grid .sub-image img{width:100%;height:auto;clear:both} .wpcf7 textarea{width:98%}}
